/* Main Styles */
body {
    margin: 0;
    font-size: 0.9em;
    background: #f8f9fa;
}
nav {
    background: #79326d;
    justify-content: space-between;
}
.logo-text {
    color: #ffe100 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff23d9;
}
.right {
    float: right;
}
.form-item {
    margin-bottom: 0.8em;
}
label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 0.4em;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
button {
    padding: 0.8em 1.7em;
    border: none;
    background-color: #eee;
    color: #79326d;
    font-size: 0.9em;
}
button:focus {
    outline: none;
    box-shadow: none;
}
/* Login & Register Page*/
.max-width-35 {
    max-width: 35%;
}
.register-full {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    padding: 0;
}
.login-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 0;
    padding: 0 3.5em;
}
.login-register {
    border: 1px solid #fff;
    border-radius: .75em;
    /* margin: 2em 33.3%; */
    padding: 0.9em 2em 1.9em;
    width: 30%;
    /* padding: 0.9em 2em; */
    background-color: #fff;
}

/* Mobile View */
@media screen and (max-width: 990px) {
    
}
@media screen and (min-width: 751px) and (max-width: 989px) {
    .max-width-35 {
        max-width: 57%;
    }
}
@media screen and (min-width: 560px) and (max-width: 750px) {
    .max-width-35 {
        max-width: 65%;
    }
}
@media screen and (min-width: 560px) and (max-width: 600px) {
    .max-width-35 {
        max-width: 75%;
    }
}
@media screen and (max-width: 559px) {
    .max-width-35 {
        max-width: 90%;
    }
}